
<div class="row m-0" *ngIf="product !== null">
  <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <!-- MAIN IMAGE  -->
            <div class="col-5">
              <img class="mt-2 product-main-img" class="object-fit-cover" src={{selectedImage}} alt="product-images" width="300px" height="300px">
              <div class="d-flex mb-3">
                <div class="mt-2 me-3" *ngFor="let image of product.images">
                  <img class="pointer object-fit-cover" src={{image}} alt={{product.id}} width="50px" height="75px" (click)="selectedImage = image;">
                </div>
              </div>
            </div>
            <!-- PRICING AND DETAILS -->
            <div class="col-7">
              <div class="fs-5 fw-bold">{{product.name}}</div>
              <div class="d-flex mt-1 mb-1">
                <i class="fa-solid fa-star text-warning" *ngFor="let item of [].constructor(product.rating); let i = index"></i>
              </div>
              <div class="text-muted small mt-2">
                <div class="mt-1">Price</div>
                <div class="mt-1">${{product.price}}</div>
              </div>
              <div class="mt-2"><span class="badge " [ngClass]="product.availableQty > 0 ? 'text-bg-success' : 'text-bg-danger'">{{product.availableQty > 0 ? 'In stoke' : 'out of stock'}}</span></div>
              <div class="text-muted small mt-3"> Description</div>
              <div class="bult-points text-muted small mt-2">
                <ul>
                  <li>This t-shirt features a beautifully crafted design that adds an elegant touch to any wardrobe.</li>
                  <li>The soft, breathable fabric ensures all-day comfort, while the classic fit flatters every body type.</li>
                  <li>Designed for versatility, it pairs perfectly with jeans, shorts, or skirts.</li>
                  <li>Fully pre-shrunk for a perfect fit—no worries about fading or stretching!</li>
                </ul>
              </div>
              <!-- FILTER OPTION -->
              <div class="row">
                <div class="col-5">
                  <small class="fw-bold text-muted"> Frame material</small>
                  <ng-select [items]="product.materials" bindLabel="name" bindValue="id" [(ngModel)]="selectedMaterial"></ng-select>
                </div>
                <div class="col-5">
                  <small class="fw-bold text-muted"> color</small>
                  <ng-select [items]="product.colors" bindLabel="name" bindValue="id" [(ngModel)]="selectedColor"></ng-select>
                </div>
                <div class="col-2 p-0">
                  <small class="fw-bold text-muted">Quantity</small>
                  <input type="number" class="form-control">
                </div>
              </div>
              <div class="mt-3">
                <button class="btn btn-primary" [ngClass]="product.availableQty > 0 ? 'btn-primary' : 'btn-secondary'" [disabled]="product.availableQty < 1" >ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
